{% extends 'base.html' %}
{% block contents %}
<div class="container">

    <h1> This is Question set 2 </h1>

    <p> 서로의 연애 적합도를 테스트 </p>

    <form method="POST" action="{%url 'question_set_2' user.id %}">
        {% csrf_token %}

        <table>
            <p>질문 4 : 나는 비가오는 날이 좋다.</p>
            <input type="radio" name="question_04" value=1>매우 아니다
            <input type="radio" name="question_04" value=2>아니다
            <input type="radio" name="question_04" value=3>약간 아니다
            <input type="radio" name="question_04" value=4>약간 그렇다
            <input type="radio" name="question_04" value=5>그렇다
            <input type="radio" name="question_04" value=6>매우 그렇다
        </table>

        <table>
            <p>질문 5 : 나는 산보다 바다가 좋다.</p>
            <input type="radio" name="question_05" value=1>매우 아니다
            <input type="radio" name="question_05" value=2>아니다
            <input type="radio" name="question_05" value=3>약간 아니다
            <input type="radio" name="question_05" value=4>약간 그렇다
            <input type="radio" name="question_05" value=5>그렇다
            <input type="radio" name="question_05" value=6>매우 그렇다
        </table>

        <table>
            <p>질문 6 : 나는 매일매일이 활기차다.</p>
            <input type="radio" name="question_06" value=1>매우 아니다
            <input type="radio" name="question_06" value=2>아니다
            <input type="radio" name="question_06" value=3>약간 아니다
            <input type="radio" name="question_06" value=4>약간 그렇다
            <input type="radio" name="question_06" value=5>그렇다
            <input type="radio" name="question_06" value=6>매우 그렇다
        </table>

        <button type="next" class="btn btn-primary">Next</button>
    </form>



</div>
{%endblock%}