{% extends 'base.html' %}
{% block contents %}
<div class="container">

    <h1> This is Question set 3 </h1>

    <p> 서로의 연애 적합도를 테스트 </p>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="{%url 'question_set_3' user.id %}">
        {% csrf_token %}

        <table>
            <p>질문 7 : 나는 비가오는 날이 좋다.</p>
            <input type="radio" name="question_07" value=1>매우 아니다
            <input type="radio" name="question_07" value=2>아니다
            <input type="radio" name="question_07" value=3>약간 아니다
            <input type="radio" name="question_07" value=4>약간 그렇다
            <input type="radio" name="question_07" value=5>그렇다
            <input type="radio" name="question_07" value=6>매우 그렇다
        </table>

        <table>
            <p>질문 8 : 나는 산보다 바다가 좋다.</p>
            <input type="radio" name="question_08" value=1>매우 아니다
            <input type="radio" name="question_08" value=2>아니다
            <input type="radio" name="question_08" value=3>약간 아니다
            <input type="radio" name="question_08" value=4>약간 그렇다
            <input type="radio" name="question_08" value=5>그렇다
            <input type="radio" name="question_08" value=6>매우 그렇다
        </table>

        <table>
            <p>질문 9 : 나는 매일매일이 활기차다.</p>
            <input type="radio" name="question_09" value=1>매우 아니다
            <input type="radio" name="question_09" value=2>아니다
            <input type="radio" name="question_09" value=3>약간 아니다
            <input type="radio" name="question_09" value=4>약간 그렇다
            <input type="radio" name="question_09" value=5>그렇다
            <input type="radio" name="question_09" value=6>매우 그렇다
        </table>

        <button type="next" class="btn btn-primary">Next</button>
    </form>



</div>
{%endblock%}