{% extends 'base.html' %}
<head>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $( "#some_flag" ).dialog({
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close",
                    resizable: false,
                    draggable: false,
                    width: 600,
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        });
    </script>
</head>
{% block contents %}
<div class="container">

    <h1> This is login </h1>

    {% if flag2 %}
      <p> USERNAME or PASSWORD is wrong </p>
    {% endif %}

    <form method = "POST" action="{%url 'login'%}"> 
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table>
        <button type="login" class="btn btn-primary">Login</button>
      </form>

</div>
{%endblock%}